<a href="https://colab.research.google.com/github/Bri0310/IAOI_Recap/blob/main/Learning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
X = 5 #This is an integer
y = 9.5 #This is a floating point
name = "Brithney" #This is a string/character-letter/words
age = 15
print("Im Brithney")
print(15)

print(name) #printing variable

print("Hello my name is", name, "and I am cute" )
print("Hello my name is", name, "and I am", age)

Im Brithney
15
Brithney
Hello my name is Brithney and I am cute
Hello my name is Brithney and I am 15

var = "2" #This is a string despite numbers
When printing numbers dont use quitations

In [ ]:
name = input("Enter your name")
print("Hello", name, "It's so nice to meet you !")

print (name)

Enter your nameBrit
Hello Brit It's so nice to meet you !
Brit

In [ ]:
lst = [6,2,7,95,3]
print(lst)
print(lst[2]) #Print second number from data set because the first would be 0 ratter than 1

[6, 2, 7, 95, 3]
7

In [ ]:
dictionary = {
    "banana": "yellow",
    "apple": "red"
    "orange": "orange",
}

#print(dictionary)
print(dictionary[])

SyntaxError: invalid syntax (<ipython-input-7-6e32ad1787cc>, line 4)

In [ ]:
3 + 3
3 - 3
8 * 2

16

In [ ]:
7 / 4

1.75

In [ ]:
7 // 4 #Does not round up

1

In [ ]:
7 % 3

1

In [ ]:
i = i + i
i++

SyntaxError: invalid syntax (<ipython-input-14-ab4c66c1160e>, line 2)

Boolean

In [ ]:
6 == 6

True

In [ ]:
6 <= 5

False

In [ ]:
6 > 6

False

In [ ]:
6 > 4

True

LOGICAL OPERATIONS

FUNCTIONS

In [ ]:
def add2(): # def defines the function
num = 4
print(num + 2) #return num + 2

num = int(input("Enter your number here"))
add2(num)

IF statement

In [ ]:
def addnum(num1,num2):
  print(num1 + num2)


addnum(num1,num2)
if choice == 1:
  addnum(num1,num2)

enter name and 2 numbers

hello name welcome to my calculator

what to do with numbers with 5 options like enter 1 for addition

use if statement (if ...then...) (if else..)

In [ ]:
name = input("Enter your name")
print("Hello", name, "Welcome to my calculator")

Enter your nameJia
Hello Jia Welcome to my calculator

In [ ]:
lst = [2,3]
num1=1
num2=2

In [ ]:
def add2(): # def defines the function
 num1 = 2
 num2 = 5
 print(num1 + 2) #return num + 2

num = int(input("Enter your number here"))
choice = int(input("Enter your choice"))
if choice == 2:
 add2(num)

Enter your number here3
Enter your choice1

In [ ]:

def addnum(num1,num2):
  print(num1 + num2)


addnum(num1,num2)
if choice == 1:
  addnum(num1,num2)

3

NameError: name 'choice' is not defined

In [ ]:
def add2(): # def defines the function
num = 4
print(num + 2) #return num + 2

num = int(input("Enter your number here"))
add2(num)

In [ ]:
def add2(): # def defines the function
num = 4
print(num + 2) #return num + 2

num = int(input("Enter your number here"))
add2(num)

In [5]:
def add2(): # def defines the function
num = 4
print(num + 2) #return num + 2

num = int(input("Enter your number here"))
add2(num)

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-5-3877726883>, line 2)

In [6]:
# Define functions for calculator operations
def add(num1, num2):
  return num1 + num2

def subtract(num1, num2):
  return num1 - num2

def multiply(num1, num2):
  return num1 * num2

def divide(num1, num2):
  # Add a check to prevent division by zero
  if num2 != 0:
    return num1 / num2
  else:
    return None # Return None or raise an error for division by zero

In [8]:
name = input("Enter your name here")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print(f"Hello, {name}, Welcome to my calculator!")


print("\nWhat would you like to do with the numbers?")
print("Enter 1 for Addition")
print("Enter 2 for Subtraction")
print("Enter 3 for Multiplication")
print("Enter 4 for Division")
print("Enter 5 for ")


choice = int(input("Enter your choice (1-5): "))

# Perform operation using if...elif...else
if choice == 1:
    result = add(num1,num2)
    print(f"\nThe result of addition is: {result}")
elif choice == 2:
    result = subtract(num1,num2)
    print(f"\nThe result of subtraction is: {result}")
elif choice == 3:
    result = multiply(num1,num2)
    print(f"\nThe result of multiplication is: {result}")
elif choice == 4:
    if num2 != 0:
        result = divide(num1,num2)
        print(f"\nThe result of division is: {result}")
    else:
        print("\nError: Division by zero is not allowed.")
elif choice == 5:
    result = "Please Enter a choice from 1-4"
    print(f"\nThe result of  is: {result}")
else:
    print("\nInvalid choice. Please enter a choice from 1 to 4.")

Enter your name hereNasha
Enter first number: 4
Enter second number: 7
Hello, Nasha, Welcome to my calculator!

What would you like to do with the numbers?
Enter 1 for Addition
Enter 2 for Subtraction
Enter 3 for Multiplication
Enter 4 for Division
Enter 5 for
Enter your choice (1-5): 3

The result of multiplication is: 28.0